<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/main.css" />
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <%- include('shared/menu') %>
        <div class="container">
            <a class="btn btn-primary pull-right" href="/add">
                <span class="glyphicon glyphicon-plus"></span> Ajouter une personne
            </a>
            <h1>Liste des personnes</h1>

            <ul>
            
            </ul>
            
            
           
<div class="well">
    <table id="zipTable" class="table">
         <select for="zipTable">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50" selected>50</option>
                <option value="100">100</option>
            </select>
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Company</th>
          <th>Departement</th>
          <th>Email</th>
          <th>City</th>
          <th>Country</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
          
          <% persons.forEach(function(p) { %>
                <tr>
                    <td><%= p._id %></td>
                    <td><%= p.firstname %></td>
                    <td><%= p.lastname %></td>
                    <td><%= p.age %></td>
                    <td><%= p.gender %></td>
                    <td><%= p.company %></td>
                    <td><%= p.departement %></td>
                    <td><%= p.email %></td>
                    <td><%= p.city %></td>
                    <td><%= p.country %></td>
                    
          
                </tr>
                
          <% }); %>
      
       
       
      </tbody>
    </table>
</div>
<div class="pagination">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>

        </div>
    </body>
</html>

<script>(function ($) {
    $.fn.page = function (PageSize) {
        $(this).addClass("page-table")
        var tableId = $(this).attr("id");
        
        //if id is not defined for table. Do Nothing.
        if (typeof tableId == 'undefined') {
            return this;
        };

        //Check for controls for this table and remove
        $('.pagination[for="' + tableId + '"]').remove();

        //Check for valid variable for pageSize if not set to default of 10
        if (typeof PageSize == 'number') {
            PageSize = parseInt(PageSize);
        } else if (typeof PageSize == 'string') {
            if ($.isNumeric(PageSize) == true) {
                PageSize = parseInt(PageSize);
            } else {
                PageSize = 10;
            }
        } else {
            PageSize = 10;
        }

        //Add pagination <ul> to hold controls
        $(this).after('<ul class="pagination" for="' + tableId + '"></ul>');

        //Add a pager control for each page
        var currpage = 1;
        var item = 1;
        $(this).find('tr:has(td)').each(function () {

            $(this).attr('data-page', currpage);

            if ((item % PageSize) == 0) {
                currpage = currpage + 1;
                $('.pagination[for="' + tableId + '"]').append('<li><a href="#" data-page="' + currpage + '" for="' + tableId + '">' + currpage + '</a></li>')
            } else if (item == 1) {
                $('.pagination[for="' + tableId + '"]').append('<li><a href="#" class="active" data-page="' + currpage + '" for="' + tableId + '">' + currpage + '</a></li>')
            }
            item = item + 1;
        });

        //load 1st page
        pageNumber(1, tableId);
        $(this).next('.pagination[for="' + tableId + '"]').find('a').on('click', function (e) {
            e.preventDefault();
            pageNumber($(this).attr('data-page'), this);
        });
        return this;
    }

    // Private function page change
    function pageNumber(iPage, element) {
        if (typeof element == 'string') {
            var target = element;
        } else {
            var target = $(element).attr("for");
        }


        if (typeof target == 'undefined') {
            $('.page-table tr:has(td)').hide();
            $('.page-table tr[data-page="' + iPage + '"]').show();
        } else {
            $('#' + target + ' tr:has(td)').hide();
            $('#' + target + ' tr[data-page="' + iPage + '"]').show();
        }
    };

})(jQuery);

//End of plugin Beginning of Initialization

//if no page size is passed default is 10. Below we are setting page size to 20
$('#zipTable').page(20);

//Changes page size from select value
$('select[for="zipTable"]').on('change', function () {
    $('#zipTable').page($(this).val());
});</script>